
* {
  
}

.row {
    display: flex;
    justify-content: center; 
   
}

.heading {
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    
}

.form {
    width: 400px;
    height: 75px;
    margin: auto;
    
    
}




.img-fluid {
    border-radius: 15px 50px 30px 5px;
    
}


.card {
    margin: 4rem;
  padding: 1rem;
  border: solid;
  background-color: rgba(170, 109, 59, 0.514);
  font-family: monospace;
  font-size: 19px;
  border-radius: 15px 50px 30px 5px;
  
}

.form-control {
    width: 400px;
    margin: auto;
    
    
}


.contact {
    padding-top: 100px;
    padding-left: 375px;
    
}

.footer {
    display: flex;
    justify-content: center;
}